Repository cljsjs/packages, changes with the owners that CODEOWNERS names for each.
All owners: @Deraen, @Miikka, @taha-k

CODEOWNERS:

# This file documents which packages are maintained by someone.
# For these packages, you can ask help from mentioned people.

react/           @Deraen
react_15/        @Deraen
leaflet/         @Deraen
leaflet-fullscreen/ @Deraen
react-leaflet/   @Deraen
prop-types/      @Deraen
react-transition-group/    @Deraen
react-transition-group_1/  @Deraen
react-lifecycles-compat/  @Deraen

highcharts/        @Miikka
highstock/         @Miikka
react-grid-layout/ @Miikka

datatables.net/     @taha-k
mobile-drag-drop/   @taha-k

Automatic update
  antd/README.md
Owners: none

Upgrade antd to 3.5.0
  antd/boot-cljsjs-checksums.edn
  antd/build.boot
  antd/resources/cljsjs/antd/common/antd.ext.js
Owners: none

Automatic update
  antd/README.md
Owners: none

Create-react-class 15.6.3
  create-react-class/boot-cljsjs-checksums.edn
  create-react-class/build.boot
Owners: none

[clipboard] Update to 2.0.1
  clipboard/README.md
  clipboard/build.boot
Owners: none

[react-google-maps] Update to 9.4.5
  react-google-maps/README.md
  react-google-maps/boot-cljsjs-checksums.edn
  react-google-maps/build.boot
  react-google-maps/resources/cljsjs/react-google-maps/common/react-google-maps.ext.js
Owners: none

react-motion 0.5.2 + :global-exports
  react-motion/README.md
  react-motion/boot-cljsjs-checksums.edn
  react-motion/build.boot
Owners: none

Automatic update
  react-motion/README.md
Owners: none

added new office-ui-fabric-core package
  office-ui-fabric-core/README.md
  office-ui-fabric-core/boot-cljsjs-checksums.edn
  office-ui-fabric-core/build.boot
Owners: none

[react-grid-layout] Upgrade react-grid-layout to 0.16.6
  react-grid-layout/README.md
  react-grid-layout/boot-cljsjs-checksums.edn
  react-grid-layout/build.boot
Owners: @Miikka

reactstrap update
  reactstrap/build.boot
Owners: none

deps update
  react-popper/boot-cljsjs-checksums.edn
  react-popper/build.boot
  react-transition-group/boot-cljsjs-checksums.edn
  react-transition-group/build.boot
  reactstrap/build.boot
Owners: @Deraen

added validation
  reactstrap/boot-cljsjs-checksums.edn
  reactstrap/build.boot
Owners: none

boot-cljsjs update
  reactstrap/build.boot
Owners: none

Bump react-ultimate-pagination to v1.2.0
  react-ultimate-pagination/README.md
  react-ultimate-pagination/boot-cljsjs-checksums.edn
  react-ultimate-pagination/build.boot
  react-ultimate-pagination/resources/webpack.config.js
Owners: none

Automatic update
  react-ultimate-pagination/README.md
Owners: none

[react-ultimate-pagination] externs fix
  react-ultimate-pagination/boot-cljsjs-checksums.edn
  react-ultimate-pagination/build.boot
  react-ultimate-pagination/resources/cljsjs/react-ultimate-pagination/common/react-ultimate-pagination.ext.js
Owners: none

[waypoints] Upgrade to 4.0.1
  waypoints/boot-cljsjs-checksums.edn
  waypoints/build.boot
Owners: none

[waypoints] Update package to support global exports
  waypoints/README.md
  waypoints/boot-cljsjs-checksums.edn
  waypoints/build.boot
Owners: none

Simplify build
  react-ultimate-pagination/boot-cljsjs-checksums.edn
  react-ultimate-pagination/build.boot
  react-ultimate-pagination/resources/webpack.config.cljsjs.js
Owners: none

Automatic update
  react-popper/README.md
  react-transition-group/README.md
  react-ultimate-pagination/README.md
  reactstrap/README.md
  waypoints/README.md
Owners: @Deraen

showdown update
  showdown/boot-cljsjs-checksums.edn
  showdown/build.boot
Owners: none

removed unused code
  showdown/build.boot
Owners: none

revert change
  showdown/build.boot
Owners: none

[material-ui] Update to version 0.19.4
  material-ui/README.md
  material-ui/boot-cljsjs-checksums.edn
  material-ui/build.boot
Owners: none

[react-modal] Upgrade react-modal to 3.4.4
  react-modal/boot-cljsjs-checksums.edn
  react-modal/build.boot
  react-modal/resources/cljsjs/react-modal/common/react-modal.ext.js
Owners: none

Automatic update
  react-modal/README.md
  showdown/README.md
Owners: none

[react-player] Added react-player package
  react-player/boot-cljsjs-checksums.edn
  react-player/build.boot
  react-player/resources/cljsjs/common/react-player.ext.js
Owners: none

[react-player] Added README
  react-player/README.md
Owners: none

[react-player] Changed example in README
  react-player/README.md
Owners: none

[semantic-ui-react] Bump to 0.80.0
  semantic-ui-react/boot-cljsjs-checksums.edn
  semantic-ui-react/build.boot
Owners: none

[rc-slider] pin to webpack@3 & fix invalid `lessc` usage
  rc-slider/build.boot
Owners: none

[rc-slider] bump to 8.6.1
  rc-slider/boot-cljsjs-checksums.edn
  rc-slider/build.boot
Owners: none

Remove bad proton ext file
  proton-js/resources/cljsjs/proton/common/proton.ext.js
Owners: none

Fix update-boot-cljsjs script
  update-boot-cljsjs.sh
Owners: none

Fix checksums?
  rc-slider/boot-cljsjs-checksums.edn
Owners: none

Automatic update
  rc-slider/README.md
  semantic-ui-react/README.md
Owners: none

[react-player] Use +lib-version+ in download url
  react-player/build.boot
Owners: none

[react-player] Fix mistake in READMEB
  react-player/README.md
Owners: none

Updated react-beautiful-dnd versions
  react-beautiful-dnd/README.md
  react-beautiful-dnd/boot-cljsjs-checksums.edn
  react-beautiful-dnd/build.boot
  react-beautiful-dnd/resources/cljsjs/react-beautiful-dnd/common/react-beautiful-dnd.ext.js
Owners: none
